.container-result {
  max-width: 1000px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  background-color:whitesmoke
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.listing {
  list-style: circle;
}
.listing li {
  list-style: inside;
}

.responsive-table {
  padding-left: 0px;
  li {
    border-radius: 3px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  .table-header {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .table-row{
    border-left: 3px solid rgb(75, 74, 74);
  }
  .datacol1 {
    flex-basis: 40%;
    font-weight: bold;
  }
  .datacol2 {
    flex-basis: 60%;
  }
  .table-row:hover{
    background-color: grey;
    color:white;
    border-left: 3px solid rgb(255, 255, 255);
  }
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .datacol {
      
      flex-basis: 100%;
      
    }
    .datacol {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}